{
    "exclude": [
        "spec/**/*.ts",
        "data/**./*.*"
    ],
    "include": [
        "src/*.ts"
    ],
    "reporter": [
        "html",
        "text",
        "text-summary"
    ],
    "all": true
}